div.chat-scroll {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 80%;
    top: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.25rem;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

div.load-button {
	box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
    background-color: rgba(68, 68, 68, 0.60);
    border-radius: 2.5vmin;
    width: 20%;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

div.chat-scroll::-webkit-scrollbar {
    display: none;
}

div.message-box {
	box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
	background-color: rgba(129, 129, 129, 0.3);
	border-radius: 2vmin;
	width: calc(100% - 2.5rem);
	padding: 1.25rem;
	display: flex;
	flex-direction: row;
    gap: 1rem;
}

div.message-box div.avatar {
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	border-radius: 1vmin;
	height: 2.5rem;
	width: 2.5rem;
}

div.message-box div.message-content {
    width: calc(100% - 6rem);
}

div.message-box div.message-content div.message-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-bottom: 0.25rem;
}

div.message-box div.message-content div.message-bar h1.display-name {
	font-weight: 700;
}

div.message-box div.message-content div.message-bar p.message-info {
	color: #999;
}
